 <section id="menu">
    <div class="head">
        <h2>CADS</h2>
    </div>
    <div class="items">
        <li><i class="fa fa-home"></i><a href="#">Dashboard</a></li>
        <li><i class="fa fa-credit-card"></i><a href="#">Loans</a></li>
        <li><i class="fa fa-usd"></i><a href="#">Borrowers</a></li>
        <li><i class="fa fa-money"></i><a href="#">Payment</a></li>
        <li class="staff" id="staff" ><i class="fa fa-users"></i><a href="#">Staff</a>
        <li><i class="fa fa-code-fork"></i><a href="#">Reports</a></li><hr><br><br>
        <li><i class="fa fa-user"></i><a href="#">Log out</a></li>
    </div>
 </section>
 <!--Main Body -->
 <section id="interface">
    <div class="navigation">
        <div class="n1">
            <i id="menu-btn" class="fa fa-bars"></i>
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="profile">
            <i class="fa fa-bell"></i>
            <img src="../image/credit.jpg" alt="">
        </div>
    </div>

    <h3 class="name">
        Dashboard
    </h3>
    <div class="boxes">
        <div class="mod-box1">
            <div>
                <h3>Borrowers</h3><br>
                <span>View Borrowers List</span>
            </div>
        </div>
        <div class="mod-box2">
            <div>
                <h3>Loans Released</h3><br>
                <span>Total Loans Released</span>
            </div>
        </div>
        <div class="mod-box3">
            <div>
                <h3>Total Collection</h3><br>
                <span>Loans Collected</span>
            </div>
        </div>
        {{!-- <div class="mod-box4">
            <div>
                <h3>NO. Of Defaulters</h3><br>
                <span>View Defaulters list</span>
            </div>
        </div>
       
        <div class="mod-box5">
            <div>
                <h3>Fully Paid Loans</h3><br>
                <span>View paid loans</span>
            </div>
        </div>
        <div class="mod-box6">
            <div>
                <h3>Default Loans</h3><br>
                <span>View paid loans</span>
            </div>
        </div>
        <div class="mod-box7">
            <div>
                <h3>Open Loans</h3><br>
                <span>View Active loans</span>
            </div>
        </div> --}}
        <div class="mod-box8">
            <div>
                <h3>All Staff</h3><br>
                <span>View Staff</span>
            </div>
        </div>
        
        
    </div>

    <!-- Table -->
    <div class="banner">
        <h3>Payment List</h3>
        <table width="100%">
            <thead>
                <tr>
                    <td>NO.</td>
                    <td>Loan Reference NO.</td>
                    <td>Payee</td>
                    <td>Amount</td>
                    <td>Penalty</td>
                </tr>
            </thead>

        </table>
    </div>
 </section>