<section class="welcome-section">
    <div class="hero">
        <div class="header-section">
            <h2 class="text-large bold">CADS</h2>
            <h5 class="text-sm light">Credit Automated Digital Solution</h5>
        </div>
        <div class="desc">You can be assured of a load at the toughest of times. Our interests rates are pocket friendly starting at <span>8% p.m</span></div>
        <div class="cta">
            <a href="/register">Get Started Now</a>
        </div>
    </div>
</section>