<section>
    <!--getting started-->
    <div class="Container">
        <div class="paragraph">
            <h2>You are ONE step away from your first loan</h2>
            <p>To have access to the best loan in the whole stae, we<br>first we need to get some information from you
            </p>
        </div>
        <div class="card-1">
            <form action="">
                <div class="form">
                    <label for="name">Enter your Name</label>
                    <input type="input-box" placeholder="Enter your Name here" required>
                </div>
                <div class="password">
                    <label for="password">Enter your Login password</label>
                    <input type="input-box" placeholder="Enter your password" required>
                </div>
                <div class="button">
                    <button type="submit">Submit</button>
                    <span><a href="/register">I don't have an account</a></span>
                </div>
            </form>
        </div>
    </div>
</section>