<!--Login-->
<div class="frame">
    <div class="box-1">
        <div class="paragraph">
            <h2 class="big-text">Welcome Back!</h2>
            <p class="small-text">To have access to the best loan in the whole stae,<br> we first we need to get some
                information from You</p>
        </div>
        <div class="form">
            <form action="/register" method="post">
                <div class="name">
                    <label for="name">Enter your name</label>
                    <input type="input-box" placeholder="Enter your Name here" name="name" required>
                </div>
                <div class="password">
                    <label for="password">Enter your login password</label>
                    <input type="input-box" placeholder="Enter your password" name="password" required>
                </div>
                   <div class="button">
                <button type="submit">Login</button>
                <span><a href="/register">Don't have an account? Click here to create.</a></span>
            </div>
            </form>
         
        </div>
    </div>
    <div class="box-2"></div>
</div>