<!--Login-->
<div class="frame">
    <div class="box-1">
        <div class="paragraph">
            <h2 class="big-text">Welcome Back!</h2>
            <p class="small-text">To have access to the best loan in the whole state. <br> We first need to get some
                information from You</p>
        </div>
        <div class="form">
            <form action="/register" method="post">
                <div class="name">
                    <label for="name">Enter your name</label>
                    <input type="text" placeholder="Enter your Name here" name="name" required>
                </div>
                <div class="password">
                    <label for="password">Enter your login password</label>
                    <input type="text" placeholder="Enter your password" name="password" required>
                </div>
                <div class="myButton">
                <button type="submit">Login</button>
                <a href="/register">I don't have an account</a>
            </div>
            </form>
        </div>
    </div>
</div>