<!--getting started-->
<div class="frame">
    <div class="box-1">
        <div class="paragraph">
            <h2 class="big-text">You are ONE step away from your first loan</h2>
            <p class="small-text">To have access to the best loan in the whole stae,<br> we first we need to get some information from You</p>
        </div>
        <div class="form">
            <form>
                <div class="name">
                    <label for="name">Enter your name</label>
                    <input type="input-box" placeholder="Enter your Name here" required>
                </div>
                <div class="password">
                    <label for="password">Enter your login password</label>
                    <input type="input-box" placeholder="Enter your password" required>
                </div>
                <div class="password">
                    <label for="name">Confirm password</label>
                    <input type="password" placeholder="Confirm password" required>
                </div>
                 <button type="submit">Create your account</button>
                    <a href="/login">I already have an account</a>
            </form>
          
        </div>
    </div>
    <div class="box-2"></div>
</div>

